.grid-container{
    display: grid;
    grid-template-columns: auto 250px auto 250px;
    column-gap: 25px;
    row-gap: 15px;
    background-color: aquamarine;
    align-items: center;
    padding: 30px;
    height: 450px;
}
.col-5{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    display:flex;
    justify-content: space-evenly;
    align-content: end;
    height: 250px;
}
.grid-container>div{
    background-color: chartreuse;
    padding: 10px;
}

